/* inter-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  src: url("./fonts/inter-v13-latin-100.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url("./fonts/inter-v13-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/inter-v13-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/inter-v13-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/inter-v13-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/inter-v13-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/inter-v13-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("./fonts/inter-v13-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/inter-v13-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fs-branding: 2rem;
  --fw-branding: 700;

  --fs-small: 0.9rem;
  --fw-small: 400;

  --fs-hthree: 1rem;
  --fw-hthree: 700;

  --fc-black: rgba(0, 0, 0, 0.9);

  --fc-gray: rgb(102, 102, 102);
  --fc-footer: rgba(34, 40, 50, 0.7);

  --colorbg: rgb(241, 241, 241);
  --colormain: rgb(255, 252, 252);
}

body {
  margin: 24px 0;
  background-color: var(--colorbg);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

h3 important {
  font-size: var(--fs-hthree);
  font-weight: (var(--fw-hthree));
}

/*=================================================
      UTILITIES
==================================================*/

.line {
  display: block;
  height: 3px;
  width: 100%;
  background-color: var(--fc-black);
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-between {
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
}

.alight-center {
  align-items: center;
}

.align-left {
  align-items: left;
}

.j-self-center {
  justify-content: center;
}

.margin-l-r {
  margin-right: auto;
  margin-left: auto;
}

.pad {
  padding-left: 24px;
  padding-right: 24px;
}

.grid {
  display: grid;
  grid-template-columns: 4fr 1fr;
  justify-content: left;
  align-items: center;
  justify-content: space-between;
}

.padding {
  padding-top: 24px;
  padding-bottom: 24px;
}

/*=================================================
      HEADER
==================================================*/
header {
  font-family: "Inter", Arial, Helvetica, "Nimbus Sans L", sans-serif;

  width: 1400px;
  background-color: var(--colormain);
}

header > ul {
  list-style: none;
}

.branding {
  color: var(--fc-black);
  font-size: var(--fs-branding);
  font-weight: var(--fw-branding);
}

.nav-bar {
  background-color: var(--fc-black);
  height: 3rem;
  margin-bottom: 24px;
}

.nav-bar a {
  color: aliceblue;
}
/*=================================================
      MAIN
==================================================*/

main {
  width: 1400px;
  background-color: var(--colormain);
}

main h3 {
  font-size: var(--fs-hthree);
  font-weight: var(--fw-hthree);
}

main li {
  margin-left: 20px;
}

/*=================================================
      FOOTER
==================================================*/

footer {
  /* font-family: "Inter", sans-serif; */
  width: 1400px;
  display: grid;
  background-color: var(--colormain);
}

footer h3 {
  font-size: var(--fs-hthree);
  font-weight: var(--fw-hthree);
}

footer span {
  font-size: var(--fs-small);
  font-weight: var(--fw-small);
  color: var(--fc-gray);
  display: block;
}
